__pycache__
.vscode
venv
.DS_Store
.env

*.json
/*.py
!install-elmo.py
!elmo-features.py
!trained_c50.py
!server.py
!api.py
!automate_test.py

embeddings1.txt
embeddings2.txt

elmo/

preprocessed_result
preprocessed_result/result.csv
data/

matrix*
metrics.ipynb

/resumes