<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <title>Job FinDR | Get Started</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />
  <link href="static/assets/img/logo.png" rel="icon" />
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet" />
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet" />
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
  <link href="static/assets/css/style.css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/894d660221.js" crossorigin="anonymous"></script>
  <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all" />
  <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all" />
</head>

<body>
  <header id="header">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a href="index.html">Job FinDR</a></h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li>
            <a class="nav-link" href="index.html">Home <i class="fa-solid fa-house" style="color: #ffffff"></i></a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <section class="about">
      <div class="container">
        <div class="section-title">
          <h2>Enter Details</h2>
        </div>
      </div>
    </section>
    <section class="container-form" style="margin-top: -80px; margin-bottom: 40px">
      <form action="/submit" method="POST" class="form2">
        <div class="column">
          <div class="input-box">
            <label>Sex</label>
            <select name="sex">
              <option value="" disabled selected>Select one</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div>
          <div class="input-box">
            <label>Birthdate</label>
            <input type="date" name="birthdate" placeholder="dd/mm/yy" />
          </div>
        </div>
        <div class="input-box">
          <label>Degree</label>
          <select name="degree">
            <option value="" disabled selected>Select one</option>
            <option value="highschool">High School</option>
            <option value="vocational">Vocational</option>
            <option value="bachelor">Bachelor</option>
            <option value="master">Masters</option>
            <option value="doctor">Doctorate</option>
          </select>
        </div>
        <div class="input-box">
          <label for="program">Program</label>
          <input type="text" name="program" placeholder="Enter program" />
        </div>
        <div class="input-box">
          <label for="certificate">Certifications</label>
          <input type="text" name="certifications" placeholder="License or any certifications" />
        </div>
        <div class="input-box">
          <label for="training">Training</label>
          <input type="text" name="training" placeholder="Training" />
        </div>
        <div class="header-label">
          <label>Skills</label>
        </div>
        <div class="column" id="skills-section">
          <div class="input-box">
            <label for="hskills-description">Hard Skills</label>
            <textarea id="hskills-description" name="hard_skills" placeholder="Enter hard skills"></textarea>
          </div>
          <div class="input-box">
            <label for="sskills-description">Soft Skills</label>
            <textarea id="sskills-description" name="soft_skills" placeholder="Enter soft skills"></textarea>
          </div>
        </div>
        <div class="header-label">
          <label>Experience</label>
        </div>
        <div id="experience-section">
          <div class="column">
            <div class="input-box">
              <label for="experience-role">Experience Role</label>
              <input type="text" name="experience_role" placeholder="Enter experience role" />
            </div>
            <div class="input-box">
              <label for="experience-years">Experience years</label>
              <input type="text" name="experience_years" placeholder="Enter experience years" />
            </div>
          </div>
          <div class="input-box">
            <label for="experience-description">Description</label>
            <textarea id="experience-description" name="experience_description"
              placeholder="Enter description"></textarea>
          </div>
        </div>
        <button id="addExperience" style="display: block">+</button>
        <div class="centered-button-container" style="margin-top: 40px">
          <input class="submit-btn" type="submit" value="Submit" id="submit"></input>
        </div>
      </form>
    </section>
  </main>

  <footer id="footer2">
    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy;<strong><span> JobFinDR</span></strong>. All Rights Reserved 2023
      </div>
    </div>
  </footer>
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/js/main.js"></script>

  <script>
    var experience_role = [];
    var experience_years = [];
    var experience_description = [];
    document
      .getElementById("addExperience")
      .addEventListener("click", function (event) {
        // Prevent the default behavior of the button click
        event.preventDefault();

        // Clone the existing experience section
        var clone = document
          .getElementById("experience-section")
          .cloneNode(true);

        // Clear input values in the cloned section
        var inputs = clone.querySelectorAll("input, textarea");
        inputs.forEach(function (input) {
          input.value = "";
        });

        // Append the cloned section to the container
        document
          .getElementById("experience-section")
          .parentNode.insertBefore(
            clone,
            document.getElementById("addExperience")
          );
      });
  </script>
  <script>
    document.querySelector(".form2").addEventListener("submit", function (event) {
      event.preventDefault();

      // Get birthdate from the form input
      const birthdate = document.querySelector('input[name="birthdate"]').value;

      // Calculate age
      const today = new Date();
      const birthDate = new Date(birthdate);
      let age = today.getFullYear() - birthDate.getFullYear();
      const monthDiff = today.getMonth() - birthDate.getMonth();
      if (monthDiff < 0 || (monthDiff === 0 && today.getDate() < birthDate.getDate())) {
        age--;
      }


      // Get form data
      const formData = {
        sex: document.querySelector('select[name="sex"]').value,
        age: age.toString(),
        degree: document.querySelector('select[name="degree"]').value,
        program: document.querySelector('input[name="program"]').value,
        certifications: document.querySelector('input[name="certifications"]').value,
        training: document.querySelector('input[name="training"]').value,
        hard_skills: document.querySelector('textarea[name="hard_skills"]').value,
        soft_skills: document.querySelector('textarea[name="soft_skills"]').value,
        experience_role: document.querySelector('input[name="experience_role"]').value,
        experience_years: document.querySelector('input[name="experience_years"]').value,
        experience_description: document.querySelector('textarea[name="experience_description"]').value,
      };

      //alert(document.querySelector('select[name="sex"]').value);

      // Convert formData object to JSON string
      //const formDataJSON = JSON.stringify(formData);

      // Display formData in an alert dialog box
      //alert(formDataJSON);

      // Send the form data as JSON to the Flask server
      fetch("./submit", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(formData),
      })
        .then((response) => {
          // Handle the response from the server if needed
          console.log(response);

          // Check if the response is successful (status code 200-299)
          if (response.ok) {
            // Redirect to results.html
            window.location.href = "./results.html";
          } else {
            // Handle other response statuses
            console.log("Server returned an error");
          }
        })
        .catch((error) => {
          // Handle any errors that occurred during the fetch
          console.error("Error:", error);
        });
    });
  </script>
</body>

</html>