<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <title>Job FinDR | Get Started</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />
  <link href="static/assets/img/logo.png" rel="icon" />
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet" />
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet" />
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
  <link href="static/assets/css/style.css" rel="stylesheet" />
  <link href="static/assets/css/get-started-forms.css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/894d660221.js" crossorigin="anonymous"></script>
  <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all" />
  <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all" />
</head>

<body>
  <header id="header">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a href="index.html">Job FinDR</a></h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li>
            <a class="nav-link" href="index.html">Home <i class="fa-solid fa-house" style="color: #ffffff"></i></a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <div class="section-title">
      <h2>Enter Details</h2>
    </div>
    <form>
      <!-- Drop zone -->
      <div id="drop-zone">
        <div class="h-100 w-100 position-relative d-flex justify-content-center align-items-center">
          <input type="file" accept=".pdf, .doc, .docx" class="opacity-0 position-absolute top-0 w-100 h-100">
          <span>Drop your resume PDF or .DOC/X here</span>
        </div>
      </div>

      <div class="column">
        <div class="input-container">
          <label for="sex">Sex</label>
          <select name="sex">
            <option value="" disabled selected>Select one</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
        <div class="input-container">
          <label for="birthdate">Birthdate</label>
          <input type="date" name="birthdate" placeholder="dd/mm/yy" />
        </div>
      </div>

      <div class="input-container">
        <label for="job-field">Job field</label>
        <input type="text" name="job-field" placeholder="Enter job field" />
      </div>

      <div class="input-container">
        <label for="program">Program</label>
        <input type="text" name="program" placeholder="Enter program" />
      </div>

      <div class="input-container">
        <label>Certifications</label>
        <div id="certifications-container" class="d-flex flex-column gap-2">
          <input type="text" placeholder="License or any certifications" />
        </div>
        <button id="add-certification" class="add-button">
          Add another +
        </button>
      </div>

      <div class="input-container">
        <label>Training</label>
        <div id="training-container" class="d-flex flex-column gap-2">
          <input type="text" placeholder="Training" />
        </div>
        <button id="add-training" class="add-button">
          Add another +
        </button>
      </div>

      <div class="form-section-label">
        <label>Skills</label>
      </div>
      <div class="column">
        <div class="input-container">
          <label>Hard skills</label>
          <div id="hard-skills-container" class="d-flex flex-column gap-2">
            <input placeholder="Enter hard skill" />
          </div>
          <button id="add-hard-skill" class="add-button">
            Add another +
          </button>
        </div>
        <div class="input-container">
          <label>Soft skills</label>
          <div id="soft-skills-container" class="d-flex flex-column gap-2">
            <input placeholder="Enter soft skill" />
          </div>
          <button id="add-soft-skill" class="add-button">
            Add another +
          </button>
        </div>
      </div>

      <div class="form-section-label">
        <label>Experience</label>
      </div>
      <div class="input-container">
        <label for="experience-years">Years of experience</label>
        <input type="text" name="experience_years" placeholder="Enter years of experience in total" />
      </div>
      <div class="input-container">
        <label>Past role</label>
        <div id="experience-container">
          <input type="text" placeholder="Enter previous role" />
          <textarea placeholder="Describe your past experience"></textarea>
        </div>
        <button id="add-experience" class="add-button">
          Add another +
        </button>
      </div>
      
      <div class="centered-button-container">
        <button id="submit">
          Submit
        </button>
      </div>
    </form>
  </main>

  <footer id="footer2">
    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy;<strong><span> JobFinDR</span></strong>. All Rights Reserved 2023
      </div>
    </div>
  </footer>

  <div id="overlay" class="hide-overlay">
    <p>Predicting job role...</p>
    <div class="spinner-border" role="status"></div>
  </div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/js/main.js"></script>
  <script src="static/assets/js/get-started-forms.js"></script>
</body>

</html>